@import url('https://fonts.googleapis.com/css?family=Anton');

input:focus, button:focus {
    outline: none;
}

.header-cover {
    background-image: url('/img/cover-background-bw.jpg');
    background-position: center;
    background-size: cover;
}

.battle-simulator {
    padding: 50px;
}

.number-picker {
    display: inline-block;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.number-picker button {
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 0;
    border: 0;
    overflow: hidden;
    font-size: 2.5em;
    line-height: 0.7em;
    padding: 0px;
    font-family: 'Anton';
    color: white;
}

.number-picker button:nth-child(1) {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.number-picker button:nth-child(3) {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.number-picker input {
    display: block;
    width: 95px;
    height: 95px;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    color: #e0e0e0;
    text-align: center;
    text-shadow: 0px 4px 6px #070707;
    font-size: 3em;
    font-family: 'Anton';
}

.number-picker-attacker button:nth-child(1) {
    background-color: #1b1b1b;
}

.number-picker-attacker button:nth-child(3) {
    background-color: #000000;
}

.number-picker-attacker input {
    background-image: url('/img/d-a-input.jpg');
}

.number-picker-defender button:nth-child(1) {
    background-color: #780000;
}

.number-picker-defender button:nth-child(3) {
    background-color: #5d0000;
}

.number-picker-defender input {
    background-image: url('/img/d-d-input.jpg');
}

#button-vs {
    cursor: pointer;
    border: 0px;
    padding: 0px;
    background: none;
}

#button-vs img {
    -webkit-transition: all .4s ease;
    transition: all .4s ease ;
}

#button-vs:hover img {
    transform: scale(1.08);
}

#button-vs:active img {
    transform: scale(1);
}

.progress-powers {
    border-radius: 0;
    outline: solid 3px #1b1b1b;
}

.progress-power-attacker {
    background: url('/img/m-p-attacker.png') left repeat-x #262626;
}

.progress-power-defender {
    background: url('/img/m-p-defender.png') right repeat-x #900101;
    background-color: red;
}

#battle {
    font-family: 'Anton';
    padding-top: 25px;
}

.battle-header {
    margin-bottom: 15px;
}

.battle-losses, .battle-survivors, .battle-total {
    font-size: 1.4em;
}

.battle-header .battle-info {
    font-size: 0.7em;
}

.rounds-headers, .battle-headers {
    margin-bottom: 15px;
    border: solid 1px #e9e9e9;
    padding: 10px 10px;
    font-size: 0.9em;
}

.row-round {
    border-bottom: solid 1px #e9e9e9;
}

.row-round:nth-child(odd) {
    background: #f3f3f3;
}

.row-round-info {
    text-align: center;
    font-size: 1.6em;
}

.row-round-info > span {
    display: inline-block;
    width: 15px;
}

.row-round-l {
    text-align: center;
    font-size: 1.4em;
}

.row-round-d {
    padding-top: 6px;
}

.row-round-da {
    text-align: right;
}

.row-round-da img {
    margin-left: 5px;
}

.row-round-dd {
    text-align: left;
}

.row-round-dd img {
    margin-right: 5px;
}

.battle-info, .battle-headers, .rounds-headers, .row-round-info {
    color: #7c7c7c;
}

.row-round-info .attacker, .row-round-la  {
    color: #1b1b1b;
}

.row-round-info .defender, .row-round-ld   {
    color: #b90000;
}
